@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,900&display=swap');

/*
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

:root {
  --black: #171718;
  --black-border: #26292d;
  --white: #fff;
  --purple: #5c62ec;

  --text-dark: var(--black);
  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);

  /* Light mode */
  --page-bg: var(--white);
  --text-color: var(--black);

  --prject-card-bg: var(--white);
  --project-card-text: var(--black);
  --box-shadow: 0px 5px 35px 0px #00000040;
}

#root {
  min-height: 100vh;
}

#App {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

/* Dark mode */
.dark {
  --page-bg: #252526;
  --text-color: var(--white);

  --prject-card-bg: var(--black);
  --project-card-text: var(--white);
  --box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.8);
}

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: -0.5px;
  min-height: 100vh;

  background-color: var(--page-bg);
  color: var(--text-color);
}

/*Generals*/

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.section {
  padding: 70px 0;
}

.title_1 {
  margin-bottom: 60px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--accent);
  text-align: center;
}

.title_2 {
  margin-bottom: 20px;

  font-size: 40px;
  line-height: 1.3;
  font-weight: 700;
}

/*Dark-mode btn*/

.dark-mode-btn {
  order: 5;
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  width: 51px;
  height: 26px;
  background-color: #272727;
  border-radius: 50px;
}

.dark-mode-btn::before {
  position: absolute;
  top: 1px;
  left: 1px;
  content: ' ';

  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--white);
  transition: left 0.2s ease-in;
}

.dark-mode-btn__icon {
  position: relative;
}

.dark-mode-btn--active::before {
  left: 26px;
}

/* Btn*/

.btn {
  display: inline-block;

  height: 48px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.15px;
  padding: 12px 28px;
  background-color: var(--accent);
  color: var(--header-text);
  border-radius: 10px;
  transition: opacity 0.15s ease-in;
}

.btn img {
  margin-right: 15px;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  position: relative;
  top: 2px;
}

/*btn-outline*/
.btn__wrapper {
  display: flex;
  column-gap: 60px;
  align-items: center;
  justify-content: space-between;
}

.btn-outline {
  display: flex;
  column-gap: 10px;
  align-items: center;

  height: 48px;
  border-radius: 5px;
  padding: 12px 20px;

  background-color: var(--white);
  border: 1px solid var(--dark-bg);
  color: var(--dark-bg);
  transition: opacity 0.15s ease-in;
}

.btn-outline:hover {
  opacity: 0.6;
}

.btn-outline:active {
  position: relative;
  top: 2px;
}
.web-icon {
  width: 24px;
  height: 24px;
  color: var(--dark-bg);
}

/* Contacts */

.content-list {
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 40px;
}

.content-list a {
  color: var(--accent);
}

.content-list__item {
  font-size: 18;
  line-height: 1.9;
  font-weight: 700;
  font-family: 'Source Sans Pro', sans-serif;
}

.content-list__item p + p {
  margin-top: 0.5em;
}

/*Projects*/

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
}

/* Project details */

.project-details {
  margin: 0 auto;
  max-width: 865px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-details__cover {
  max-width: 100%;
  margin-bottom: 40px;
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
}

.project-details__desc {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}

@media (max-width: 620px) {
  /* Header */
  .header {
    min-height: unset;
  }

  .header_title {
    font-size: 30px;
  }
  .header_title strong {
    font-size: 40px;
  }

  /* Nav */
  .nav-row {
    justify-content: space-between;
  }

  /* General */
  .title_1 {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .title_2 {
    margin-bottom: 10px;
    font-size: 30px;
  }

  /* Btn */

  .dark-mode-btn {
    order: 0;
  }

  /* Projects  */

  .section {
    padding: 40px 0;
  }

  .project__title {
    font-size: 20px;
  }

  .social {
    column-gap: 20px;
    row-gap: 20px;
  }

  .social__item {
    width: 28px;
  }

  .project-details__desc {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .content-list {
    row-gap: 20px;
  }

  .content-list__item {
    font-size: 16px;
  }

  /* Footer */

  .footer {
    padding: 40px 0 30px;
  }

  .footer__wrapper {
    row-gap: 20px;
  }
}
